---
layout: default
---

<div class="home">
  <div
    class="site-header-container {% if site.cover %}has-cover{% endif %}"
    {%
    if
    site.cover
    %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"
    {%
    endif
    %}
  >
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <img style="width: 80%; max-width: 720px;" src="{{
          "/assets/name.svg" | prepend: site.baseurl
        }}" />
      </header>
    </div>
  </div>

  <div class="wrapper">
    {{ content }}
  </div>
</div>
